* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input,
button,
textarea,
select {
	color: inherit;
	font: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
}

li {
	list-style: none;
}