.root {
	display: flex;
	gap: 16px;
	color: var(--text-color);
}

.root__text {
	display: flex;
	flex-direction: column;
	gap: 4px;
	font-weight: 300;
	letter-spacing: 0.06rem;
	white-space: pre-wrap;
	word-break: break-all;
}

.root__text__name {
	font-weight: 500;
}