.root {
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: flex-start;
	align-items: flex-start;
	overflow-y: auto;
	height: 100%;
	padding: 12px;
	border-radius: 0 0 4px 4px;
	background-color: black;

	&::-webkit-scrollbar {
		appearance: none;
		width: 3px;
		background-color: transparent;
	}
	
	&::-webkit-scrollbar-thumb {
		width: 3px;
		background-color: var(--primary-800);
	}
}

.root__header {
	margin-block: 8px;
}
